.background-prac {
    /* //sdfadsf */
}

body {
    padding-top: 80px;
    background-color: darkgrey;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
    background-repeat: repeat;
    background-size: cover;
}

section {
    margin-bottom: 40px;
}

button {
    margin-top: 10px;
}

.nav-item a{
    color:#fff;
}
.nav-item:hover {
    cursor: pointer;
}
.accordion {
    margin-bottom: 200px;
}

/* .q1-result {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
} */

.question{
    border-radius: 10px;
    border-color:chartreuse;
    border-style:dotted;
    padding: 20px 0px;
    height: 100%;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.question div h6{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 15px;
}

.question input{
    border: solid rgb(128, 128, 128);
    border-width: 1px;
}

.question button{
    width: 110px;
}

.form-control {
    width: 70%;
    
}

.expand-btn {
    margin: 20px 0px 5px 0px;
}
