/* style for header */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.parent-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    height: calc(5.5vh + 5.5vw);
    margin-top: 20px;
    margin-right: calc(1.6vh + 1.5vw);
  }
  
  body {
      background-color: #e0ccff;
  }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background-color: #d2c9e0;
  text-align: center;
  height: 200px;
}

.header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: calc(3vw + 3vh);
  margin: 0;
  padding: 0;
}

.header h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1.25px #8080ff;
}

.header h1:nth-child(2) {
  color: #8080ff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 54%,
      14% 53%,
      24% 62%,
      33% 65%,
      48% 64%,
      63% 58%,
      78% 55%,
      93% 55%,
      100% 56%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 70%,
      11% 63%,
      23% 60%,
      33% 55%,
      49% 56%,
      63% 58%,
      78% 64%,
      87% 65%,
      100% 67%,
      100% 100%,
      0% 100%
    );
  }
}

/* style for navigation */
nav {
  background-color: #8080ff;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}



nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* style for main content */
main {
  margin: 20px auto;
  width: 90%;
}

section {
  margin-bottom: 30px;
}

.body-header {
  text-align: center;
}

.others-div div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.others-div {
  justify-content: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

/* style for table */

button {
    padding: 10px;
    border-radius: 8px;
}

.table {
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 30px;
}

th {
  text-align: left;
  font-weight: normal;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* style for footer */
footer {
  background-color: #8080ff;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}